// GENERAL
$primaryTextColor : #677682;
$primaryTextDarkColor: #37474F;
$primaryTextDarkerColor: #263238;
$primaryTextLiteColor: #707070;
$primaryColor: #06526b;
$accentColor: #f2c000;
$alternativeColor: #77C725;
$alternativeDarkColor: #4a8f05;
$topBackgroundColor: $primaryColor;
$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F1F1F1;
// MENU
$menuTextColor: #FFFFFF;
$menuBackgroundColor: #083b4c;
$menuBackgroundShadowColor: #072f3c;

// SIDE MENU
$sideMenuItemTextColor: $primaryTextColor;
$sideMenuButtonIconColor: $primaryTextColor;
$sideMenuBackgroundColor: #ededed;
$sideMenuButtonBackgroundColor: #263238;

// Top Part
$topBackgroundColor: $topBackgroundColor;
$topBackgroundLiteColor: $accentColor;
$topTitleTextColor: #FFFFFF;
$topSubtTitleTextColor: #FFFFFF;

// About
$aboutBackgroundColor: $primaryBackgroundColor;
$aboutTextColor: $primaryTextColor;

// Experience
$experienceBackgroundColor: $secondaryBackgroundColor;
$experienceBoxlineColor: $alternativeColor;
$experienceTextColor: $primaryTextColor;
$experienceBoxTitleColor: $primaryTextDarkColor;
$experienceBoxDateColor: $primaryTextLiteColor;
$experienceBoxDescriptionColor: $primaryTextColor;
$experienceBoxTechTextColor: $primaryTextColor;
$experienceBoxTechBorderColor: $primaryTextLiteColor;
$experienceBoxBorderBottomColor: #101010;


// Skills
$skillsBackgroundColor: $primaryBackgroundColor;
$skillsTextColor: $primaryTextColor;
$skillBoxTitleColor: $primaryTextColor;
$skillBoxTechTextColor: $primaryTextColor;
$skillBoxTechBorderColor: $primaryTextColor;
$skillBoxBorderColor: $alternativeColor;

// Portfolio
$portfolioBackgroundColor: $secondaryBackgroundColor;
$portfolioTextColor: $primaryTextColor;
$portfolioSectionTitleColor: $accentColor;
$portfolioBoxBackgroundColor: $primaryBackgroundColor;
$portfolioBoxTitleColor: $primaryTextDarkColor;
$portfolioBoxDateColor: $primaryTextLiteColor;
$portfolioBoxLinkColor: $alternativeColor;
$portfolioBoxLinkHoverColor: $alternativeDarkColor;
$portfolioBoxDescriptionColor: $primaryTextColor;
$portfolioBoxTechTextColor: $primaryTextColor;
$portfolioBoxTechBorderColor: $primaryTextLiteColor;


// Contact me
$contactBackgroundColor: #F5F5F5;
$contactTextColor: $primaryTextColor;
$contactBoxIconColor: $accentColor;
$contactBoxTextColor: $primaryTextColor;
$contactBoxTextHoverColor: #000000;